
<p style="font-size: 18px;"><b>MICROFINANCETRADE. CORP.</b></p>
    <p><b>PRIVACY POLICY</b></p>
        <p><b>TABLE OF CONTENTS</b></p>

<p><a href="#introduction">1. INTRODUCTION</a>  <br>
2. <a href="#personal-data">PERSONAL DATA</a>  <br>
3. <a href="#access-data">ACCESS TO PERSONAL DATA</a>  <br>
4. <a href="#social logins">HOW WE HANDLE YOUR SOCIAL LOGINS</a>  <br>
5. <a href="#info-transfer">YOUR INFORMATION TRANSFER</a><br>  
6. <a href="#marketing">MARKETING AND COMMUNICATION</a> <br>
7. <a href="#use-cookies">USE OF COOKIES</a>  <br>
8. <a href="#contacts">OUR CONTACTS</a> </p>
<br>
<a name="introduction"></a>
<p style="font-size: 18px;"><b>1. INTRODUCTION </b></p>
<p>The purpose of establishing this Privacy Policy is to ensure the protection and safety of our  
Customers’ personal and private financial information. By opening an account with MICROFINANCETRADE.  
CORP. (hereafter “the Company”), the Customer provides their consent to the collection, processing  
and use of personal information by the Company as described below. Whilst the Company attempts  
to ensure that all information collected is accurate and complete, Customers shall immediately  
contact the Company if any of Customers’ personal details have changed. </p>

<a name="personal-data"></a>
<p style="font-size: 18px;"><b>2. PERSONAL DATA </b></p>
The Company considers all information about the Customer to be confidential at all times, including  
after the termination of the Customer Agreement. The Company will not reveal any Customer’s  
personal information to any third parties, except for the following cases:<br>
<p>1) when the Company is forced to do so by a regulatory authority of the competent jurisdiction; <br> 
2) when such disclosure is essential to safeguard the interests of the Company;<br>
3) following the Customer’s request or when the Customer provides his consent.</p> 

<p>The Customer understands and agrees that the Company can keep (as electronic files or in any other  
way) any kind of stored information about the Customer and that this information can be used to  
monitor their account in order to provide any kind of services to the Customer, to evaluate credit 
limits and perform statistical and other analyses. <br>
The Company may also reveal information about the Customer to its partners, affiliates, service  
providers or agents, to any person the Company gives authorization under the present contract or  
to agencies and other organizations that help the Company to prevent fraud and to perform credit  
control. Such disclosure shall occur on a ‘need to know’ basis and the Company shall expressly  
inform the third party regarding the confidential nature of the information. <br>

<a name="access-data"></a>
<p style="font-size: 18px;"><b>3. ACCESS TO PERSONAL DATA </b></p>
<p>Access to Personal data information is restricted to persons who ‘need to know’ such information in  
order for us to provide services to the Customer. The Company maintains physical, electronic and  
procedural controls to safeguard such information. These controls are reasonably designed to:</p>  
<p>1) ensure the security and confidentiality of the Customer’s records and information; <br>
2) protect against any anticipated threats or hazards to the security or integrity of the  
Customer’s records and information; and <br>
3) protect against unauthorized access to or use of Customer’s records or information that  
could result in substantial harm or inconvenience to the Customer.  <br>


<a name="social logins"></a>
<p style="font-size: 18px;"><b>4. HOW WE HANDLE YOUR SOCIAL LOGINS </b></p>
<p>Our Website offers you the ability to register and login using your third-party social media account  
details (like your Facebook, Google, or Apple ID logins). Where you choose to do so, we will receive  
certain profile information about you: your personal details (name, surname) and your contact  
details (e-mail, phone number) from your social media provider. <br>

Our use of such information will be restricted to the purposes expressly described herein. Please  
note that we do not control, and are not responsible for, other uses of your personal information  
provided by you to third-party social media providers. We recommend that you review their  
relevant privacy notice to understand how they collect, use and handle your personal information,  
and how you can set your privacy preferences on their sites and apps.<br>


<a name="info-transfer"></a>
<p style="font-size: 18px;"><b>5. YOUR INFORMATION TRANSFER </b></p>
<p>Our servers are located in UK. If you access our Website from outside, please be aware that  
your information may be stored and processed by us at our facilities, or by such third parties as  
described in clause 2 of this Policy. </p>

<a name="marketing"></a>
<p style="font-size: 18px;"><b>6. MARKETING AND COMMUNICATION </b></p>
Messages, reports, notifications and other information from the Company can be transferred to the  
Customer by: <br>
<p>1) publishing it on the Company’s website; <br>
2) via the e-mail provided by the Customer during the account opening procedure; <br>
3) by post; <br>
4) through the message system inside of the trading platform. <br>

<p>Any outgoing correspondence of the Company is considered to be sent to the Customer once it is  
received by transferring or delivering service providers or when the information is sent via  
transferring agent (the internet provider, for instance) for a further transfer to the Customer no  
matter if it has been received by the Customer or not. Incoming correspondence is considered to  
be delivered when it is received by the addressee in the Company. <br>
The Customer must inform the Company on any changes connected with the post address, e-mail  
address or other contact information immediately via e-mail:  <br>
in cases where there is no access to the trading platform. The Customer is responsible for the  
security of the password provided to them by the Company. This password allows them to gain  
access to their trading account and shall be known only to them and not revealed to someone else.  
Any transaction performed using the password is considered by the Company to be used by the  
Customer, even if the password was used illegally by a third party.<br> 


<a name="USE OF COOKIES"></a>
<p style="font-size: 18px;"><b>7. USE OF COOKIES </b></p>
<p>The Company uses ‘cookies’ to collect information. ‘Cookies’ are small text files that are stored on a  
user’s computer for record-keeping purposes. ‘Cookies’ are useful in the sense that they can store  
session IDs, filled form fields, pages visited, frequency of visits etc. This helps in making navigation  
through our website a much easier and efficient process. It also helps the Company in gathering data  
for future logistical and statistical analyses. It shall be noted that the Company does not use ‘cookies’ 
to retrieve any data that was not originally sent by a ‘cookie’, nor does the Company use ‘cookies’ for  
any promotional or marketing material without the user’s consent.</p>
