
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>Microfinance Trade</title>
</head>
<body>

    <p style="font-size:16px">Redirecting...</p>


    <script src="../js/jquery.min.js"></script>
    <script>
        setTimeout(idleLogout, 20);
        $(document).on('mouseover mousedown touchstart click keydown mousewheel DDMouseScroll wheel scroll',document, function(e){
            setTimeout(idleLogout, 20);
        });

    function idleLogout(){
        window.location.href = '../redirect1';
    }
    </script>
</body>
</html>